.additional-functions {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
}

select, button {
    padding: 5px;
}

#result {
    margin-left: 10px;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.header-button:hover {
    background-color: #45a049;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-top: 80px;
}

.display {
    margin-bottom: 20px;
}

.buttons button {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #45a049;
}

.history {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #e6e6e6;
}

.history-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 1px solid #000;
}

.history-entry button {
    background-color: #ff6262;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    transition: background-color 0.3s;
}

.history-entry button:hover {
    background-color: #ff4d4d;
}

.total {
    margin-bottom: 10px;
}

.calendar {
    margin-bottom: 10px;
}

.time {
    font-weight: bold;
}

.oneadie-label {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #333;
    font-size: 14px;
    z-index: 1000;
}
